.navbar-brand {
font-family: 'Raleway', sans-serif;	
}

.navbar-collapse {

font-family: 'Raleway', sans-serif;	
	
}

.card-body {

font-family: 'Raleway', sans-serif;	
	
}

.p {
	font-family: 'Barlow Condensed', sans-serif;
}


button {
	background: #DF013A;
}

